<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="human" class="com.example.demo.Human" autowire="byName">

        <property name="age" value="22"/>
<!--        <property name="com" ref="com"/>-->

<!--        <constructor-arg index="1" ref="lap"/>-->
<!--        <constructor-arg index="0" value="21"/>-->


    </bean>

    <bean id="com" class="com.example.demo.Laptop">
    </bean>

    <bean id="desk1" class="com.example.demo.Desktop" lazy-init="true">
    </bean>

</beans>